
h1{
    font-family: Arial,  sans-serif;
    color: rgb(65, 65, 85); 
    text-align: center;
}

h2{
  font-family: Arial,  sans-serif;
  font-size: 28px;
  color: royalblue;
}

h3{
  font-family: Arial,  sans-serif;
  font-size: 40px;
  color: royalblue;
}
p{
    font-family: Arial,  sans-serif;
    color: rgb(65, 65, 85); 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px; 
    background-color: bisque;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    }
    /* Multiple element css selector */
    th, td
    {
        border: 1px solid black;
        padding: 5px; 
    }
    td{
        background-color: lightsteelblue
    }
    th{
        background-color: lightgray;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      /* Clear floats after image containers */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
/* Using @media query, Css styling that apply when the browser window is 600px or smaller, the background color will be lightblue: */

  body {
    background-color: lightgreen;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
/*Css Selectors using Pseudoelement Selector
CSS - The ::selection Pseudo-element*/
p::selection
{
    color:black;
    background-color: yellowgreen;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
/*CSS - The ::marker Pseudo-element*/
::marker{
  color:red
}


/*Anchor Pseudo-classes selecter
 mouse over link */
a:hover {
  color: hotpink;
}


  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  /*Css ID Selector */
  #top {
      font-size: 25px;
      font-weight: bolder;
      font-family: Arial, sans-serif;
  }
  #middle {
    font-size: 20px;
    color:blue;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}
 #bottom {
    font-size: 20px;
    color:blueviolet;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: lightgray;
 }

/*inheritance*/
 .error:hover, .error--serious:hover {
  background-color: #fee;
}

.error--serious {
  border-width: 3px;
}

/*nesting scss*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/*scss variables*/

#container {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  width: 430px;
  border: 3px brown double;
  color: black;
}